.card-head{
    background: #764229;    
    font-weight: 500;
    font-family: 'Poppins';
    color: #ffffff;
}

.remove-img {
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0 auto;
    color: #ff4f4f !important;
    // background: #0000007a;
    font-size: 20px;
    padding: 5px;
    // border: 1px solid #ff4f4f;
}