<ngx-spinner></ngx-spinner>
<div class="d-flex align-items-center auth px-0"
    style="display: flex !important;align-items: center !important;align-content: center;align-self: center;height: 100vh;background: url(/assets/images/fingrow_bg.jpg);background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position: center;">
    <div class="container">
        <div class="w-100 mx-0">
            <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
                <div class="col-md-6 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5"
                        style="border-radius: 40px; border: 7px solid #764229;">
                        <div class="brand-logo" style="text-align: center;">
                            <h3 style="color: #8e4c2c;">
                                Change Password
                            </h3>
                        </div>
                        <div class="group pb-3">
                            <input type="password" class="validation" placeholder="Password"
                                [(ngModel)]="changePasswordModel['Password']" #password="ngModel" name="password"
                                required pattern="^[ A-Za-z0-9_@./#&]*$" minlength="5" maxlength="11">
                            <span class="highlight"> </span>
                            <span class="bar"> </span>
                            <label><i class="h5 mdi mdi-account menu-icon mr-2"></i>New Password</label>
                            <div *ngIf="password.errors?.minlength" class="text-danger">Password minimum 5
                                characeters</div>
                            <div *ngIf="password.errors?.pattern" class="text-danger">Enter Valid
                                password</div>
                            <div *ngIf="password.invalid && password.touched && !password.errors?.pattern && !password.errors?.minlength"
                                class="text-danger">
                                Password is required
                            </div>
                        </div>
                        <div class="group pb-3">
                            <input type="text" class="validation" [(ngModel)]="changePasswordModel['OldPassword']"
                                #oldPassword="ngModel" name="oldPassword" placeholder="OldPassword" required
                                pattern="^[ A-Za-z0-9_@./#&]*$" minlength="5" maxlength="11">
                            <span class="highlight"> </span>
                            <span class="bar"> </span>
                            <label><i class="h5 mdi mdi-account menu-icon mr-2"></i>Old Password</label>
                            <div *ngIf="oldPassword.errors?.minlength" class="text-danger">Old Password minimum 5
                                characeters</div>
                            <div *ngIf="oldPassword.errors?.pattern" class="text-danger">Enter Valid
                                password</div>
                            <div *ngIf="oldPassword.invalid && oldPassword.touched && !oldPassword.errors?.pattern && !oldPassword.errors?.minlength"
                                class="text-danger">
                                Old Password is required
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-12 text-center">
                                <button class="btn btn-cancel btn-sm mr-2" type="button"
                                    [routerLink]="['/dashboard']">Back</button>
                                <button class="btn btn-save btn-sm" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>