.cust-date ::ng-deep ngb-datepicker {
    width: 300px;
}

.cust-date::ng-deep .ngb-dp-day {
    height: 2rem;
}

.cust-scroll
{
    min-height: 40px;
    max-height: 500px;
    overflow-y: auto;
}

.cust-width-drop
{
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cust-list-item {
    padding: 10px;
}

.cust-pre-fill {
    margin-left: 8px;
}

.cust-prof-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.prof-upload-btn
{
    margin-top: 25px;
}

.btn-secondary {
    background-color: rgb(108, 117, 125);
}

select.form-control {
    color: #343a40;
}


select.form-control {
    padding: .1rem .75rem;
    border: 0;
    outline: 1px solid #adadad !important;
    color: black;
    height: calc(1.2em + 0.55rem + 3px) !important;
}

.cust-drop-margin-bottom {
    margin-bottom: 5px; 
}

.delete-doc {
    cursor: pointer;
    text-decoration: underline;
}

.profile-section
{
    text-align: center;
}

.user-img-upload{
    position: absolute;
    left: 56px;
    top: 56px;
}

.radius-20{
    border-radius: 20px;
}

.user-img-position {
    position: relative;
    top: -4rem;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 #9e6b258c;
}

.btn-img-add {
    height: 20px;
    width: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    font-size: 2rem;
    background: linear-gradient(360deg, #76432a, #a05e2b);
    padding: 15px;
    border: 1px solid #76432a;
    border-radius: 50px;
    color: #fff;
}

.image-div{
    position: absolute;
    z-index: 1;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    top: -3em;
    right: 1em;
}

.form-card{
    position: relative;
    top: -3rem;
}

.profile {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.reg-cust-prof-img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    border: 5px solid #ffffff;
    background: #fff;
}

.mid-screen{
    height: 100vh;
    align-items: center;
    display: flex;
}

.out-bg{
    // background: linear-gradient(to top, #E2E2E2, #C9D6FF);
    background: beige;
}

.inner-bg{
	    background: url(/assets/images/fingrow_bg.jpg);
        border-radius: 20px;
        padding: 15px;
        background-position: center;
        background-attachment: initial;
        background-repeat: no-repeat;
        filter: drop-shadow(2px 4px 6px black);
}

.reg-name{
    color: #7d482a;
    background: #cab79d;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

@media (max-width: 540px){
    .mid-screen {
        height: auto;
        align-items: center;
        display: block;
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

.btn-download{
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.7rem;
    background: linear-gradient(360deg, #2a6b76, #03a9f4);
    padding: 13px;
    border: 2px solid #1390c0;
    border-radius: 50px;
    color: #fff;
}

.btn-delete {
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1rem;
    background: linear-gradient(360deg, #c52f00, #f44336);
    padding: 13px;
    border: 2px solid #e33c22;
    border-radius: 50px;
    color: #fff;
}

.btn-delete:hover {
    background: #ffffff;
    padding: 13px;
    border: 2px solid #e33c22;
    border-radius: 50px;
    color: #f44336;
}

// .ng-invalid:not(form).ng-touched{
//     border: 1px solid red;  
// }

@media (max-width: 640px){
    .user-img-position{
        position: relative;
        top: -4rem;
        border: 5px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 15px 0 #9e6b258c;
        margin-left: auto;
    }
}
// .tab-bg{
//     background: url('../../../assets/images/faces/reg-bg.png');
//     background-position: center;
//     background-size: cover;
//     background-attachment: unset;
//     background-repeat: no-repeat;
// }

.group > .select-text {
    position: relative;
    font-family: 'Poppins' !important;
    background-color: transparent;
    width: 100%;
    padding: 4px 10px 4px 6px;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #4f4b36;
    top: -2px;
}