<div style="height: 680px;background: #fff;overflow-y: scroll; padding: 20px 0px;" innerHtml="{{htmlContant}}"></div>
<!-- <!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet" />
    <title></title>
    <style></style>
</head>

<body style="height: 680px;background: #fff;overflow-y: scroll; padding: 20px 0px;">
    <div #eagreement>
        <div class="chapter" style="width:210mm; padding: 10px;  margin:  0 auto; ">
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: center;margin-bottom: 35px;">
                Declaration on Code of Conduct for Referral Agents</div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">
                1. Introduction:</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                Model Code of Conduct for the Referral Agents is issued for adoption and implementation by the Referral
                Agent and his/her/its employees.
            </div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;">
                Fingrow Capital Management Consulting Private Limited, a private limited company incorporated
                under the Companies Act, 2013, (bearing company identification number U67190TN2020PTC136961)
                having its registered office at AB 103 & 105 Suite E, Second floor 4th Avenue, Shanthi Colony
                Annanagar, Chennai – 600040, acts as a Sourcing Agent to various Banks, NBFCs and other Financial
                Institutions.
            </div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;">
                Fingrow Capital Management Consulting Private Limited has been authorized by its Partner Financial
                Institutions to undertake various activities with respect to loans / finance facilities / products
                offered
                by its Partner Financial Institutions, including but not limiting to executing various documents in
                respect thereof.
            </div>
            <div style="color: #000; font-size: 16px; text-align: left;margin-top: 15px;">Whereas,</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;">
                ______________________________ [legal name], __________________[description of legal
                constitution] and having its registered of address
                _________________________________________________________________________________
                has agreed to act as a referral agent of Fingrow Capital Management Consulting Private Limited for
                sourcing / referring prospective customers for loans and financial products / services to financial
                institutions;
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">2.
                Applicability:</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                Upon adoption and inclusion as part of this agreement between Fingrow Capital Management
                Consulting Private Limited and the Referral Agent, this code will apply to all persons involved in
                marketing and distribution of any loan or other financial product offered by the partner financial
                institutions of Fingrow Capital Management Consulting Pvt Ltd. The Referral Agent and its Tele-Marketing
                Executives (TMEs) & field sales personnel, namely, Business Development Executives
                (BDEs) must agree to abide by this code prior to undertaking any direct marketing operation on behalf
                of the partner financial institutions. Failure to comply with this requirement may result in permanent
                termination of business of the Referral Agent.
            </div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;">
                A declaration to be obtained from TMEs and BDEs by the Referral Agent before assigning them their
                duties is annexed to this Code.
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">3.
                Tele-calling
                a Prospect (a prospective customer)</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                A prospect is to be contacted for sourcing a financial product or any related product offered by the
                partner financial institutions only under the following circumstances:
            </div>
            <div
                style="color: #000; font-size: 14px; line-height: 1.4; font-weight: 300; text-align: left;margin-top: 15px;">
                <ul>
                    <li>When the prospect's name/telephone no/ address is available & has been taken from one of
                        the lists/directories/databases approved by the Manager/Team leader of the Referral Agent,
                        after taking his/ her consent.
                    </li>
                    <li>
                        The TME should not call a person whose name/number is flagged in any "do not disturb" list
                        made available to him/her.
                    </li>
                </ul>
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">4. When you
                may
                contact a prospect on telephone</div>
            <div
                style="color: #000; font-size: 14px; line-height: 1.4; font-weight: 300; text-align: left;margin-top: 15px;">
                <ul>
                    <li>Telephonic contact must normally be limited between 0930 Hrs and 1900 Hrs. However, it
                        may be ensured that a prospect is contacted only when the call is not expected to
                        inconvenience him/her.
                    </li>
                    <li>
                        Calls earlier or later than the prescribed time period may be placed only the prospect has
                        expressly authorized TME/BDE to do so either in writing or orally
                    </li>
                </ul>
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">5. Can the
                prospect's interest be discussed with anybody else?</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                The Referral Agent should respect a prospect's privacy. The prospect's interest may normally be
                discussed only with the prospect and any other individual/family member such as prospect's
                accountant/secretary /spouse, authorized by the prospect.
            </div>
        </div>
        <div class="chapter" style="width:210mm; padding: 10px;  margin:  0 auto; ">
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">6. No
                misleading
                statements/misrepresentations permitted:</div>
            <div
                style="color: #000; font-size: 14px; line-height: 1.4; font-weight: 300; text-align: left;margin-top: 15px;">
                TME/BDE should not –
                <ul>
                    <li>Mislead the prospect on any service / product offered;
                    </li>
                    <li>
                        Mislead the prospect about their business or organization's name, or falsely represent
                        themselves
                    </li>
                    <li>
                        Make any false / unauthorized commitment on behalf of the partner financial institu for any
                        facility/service.
                    </li>
                </ul>
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">7.
                Telemarketing
                Etiquettes</div>
            <div
                style="color: #000; font-size: 14px; line-height: 1.4; font-weight: 300; text-align: left;margin-top: 15px;">
                PRE CALL
                <ul>
                    <li>No calls prior to 0930 Hrs or post 1900 Hrs unless specifically requested.
                    </li>
                    <li>
                        No serial dialing
                    </li>
                    <li>
                        No calling on lists unless list is cleared by team leader
                    </li>
                </ul>
                DURING CALL
                <ul>
                    <li>
                        Identify yourself, your company and your principal
                    </li>
                    <li>
                        Request permission to proceed
                    </li>
                    <li>
                        If denied permission, apologize and politely disconnect.
                    </li>
                    <li>
                        State reason for your call
                    </li>
                    <li>
                        Always offer to call back on landline, if call is made to a cell number
                    </li>
                    <li>
                        Never interrupt or argue
                    </li>

                    <li>
                        To the extent possible, talk in the language which is most comfortable to the prospect
                    </li>
                    <li>
                        Keep the conversation limited to business matters
                    </li>
                    <li>
                        Check for understanding of "Most Important Terms and Conditions" by the customer if he plans to
                        buy
                        the product
                    </li>
                    <li>
                        Reconfirm next call or next visit details
                    </li>
                    <li>
                        Provide your telephone no, your supervisor's name or Fingrow officer’s contact details if asked
                        for
                        by the customer.
                    </li>
                    <li>
                        Thank the customer for his/her time
                    </li>
                </ul>
                POST CALL
                <ul>
                    <li>
                        Customers who have expressed their lack of interest for the offering should not be called for
                        the
                        next 3 months with the same offer
                    </li>
                    <li>
                        Provide feedback to Fingrow on customers who have expressed their desire to be flagged "Do Not
                        Disturb"
                    </li>
                </ul>
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">8. Gifts or
                bribes:</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                TME/BDE's must not accept gifts from prospects or bribes of any kind. Any TME/BDE offered a
                bribe or payment of any kind by a customer must report the offer to his/her management.
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">9.
                Precautions
                to be taken on visits/ contacts BDE should:</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;">
                <ul>
                    <li>
                        Respect personal space - maintain adequate distance from the prospect.
                    </li>
                    <li>
                        Not enter the prospect's residence/office against his/her wishes;
                    </li>
                    <li>
                        Not visit in large numbers - i.e. not more than one BDE and one supervisor, if required.
                    </li>
                    <li>
                        Respect the prospect's privacy.
                    </li>
                    <li>
                        If the prospect is not present and only family members/office persons are present at the
                        time of the visit, he/she should end the visit with a request for the prospect to call back.
                    </li>
                    <li>
                        Provide his/her telephone number, supervisor's name or the concerned officer's contact
                        details, if asked for by the customer.
                    </li>
                    <li>
                        Limit discussions with the prospect to the business - Maintain a professional distance.
                    </li>
                </ul>
            </div>
        </div>

        <div class="chapter" style="width:210mm; padding: 10px;  margin:  0 auto; ">
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">10. Other
                important aspects - Appearance & Dress Code:</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                BDE's must be appropriately dressed
                For men this means
                <ul>
                    <li>
                        Well ironed trousers;
                    </li>
                    <li>
                        Well ironed shirt, shirt sleeves preferably buttoned down.
                    </li>
                </ul>
                For women this means
                <ul>
                    <li>
                        Well ironed formal attire (Saree, Suit etc.);
                    </li>
                    <li>
                        Well groomed appearance. • Jeans and/or T Shirt, open sandals are not considered
                        appropriate.
                    </li>
                </ul>
            </div>
            <div style="color: #000; font-size: 16px; font-weight: 600; text-align: left;margin-top: 15px;">11. Handling
                of
                letters & other communication</div>
            <div style="font-size: 14px; line-height: 1.4;margin-bottom: 15px;margin-top: 15px;">
                Any communication sent to the prospect should be only in the mode and format approved by Fingrow
                Capital Management Consulting Private Limited.
            </div>
        </div>
    </div>
</body>


</html> -->
<!-- <button type="button" class="btn btn-save" (click)="ngSubmit()">
    Submit
</button> -->