<ngx-spinner></ngx-spinner>
<div class="card-heading">
    <span>User List</span>
</div>
<div class="card">
    <div class="card-body">
        <!-- SEARCH -->
        <div class="col-sm-12 search-hero ml-auto mb-3 mid-y p-0 d-flex">
            <!-- <mat-icon>search</mat-icon> -->
            <input #filter placeholder="Search.."
                class="form-control form-control-sm rounded-pill col-md-4 border-dark mr-2"
                (keyup)="applyFilter($event)">
            <button type="button" class="btn-add ml-auto" title="Add" *ngIf="isAdd"
                [routerLink]="['/user-create-edit']">
                +
            </button>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort style="white-space: nowrap;">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i+1+(paginator.pageIndex *
                        paginator.pageSize)}} </td>
                </ng-container>
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <ng-container matColumnDef="usertypename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.usertypename}} </td>
                </ng-container>

                <ng-container matColumnDef="mobilenumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobilenumber}} </td>
                </ng-container>

                <ng-container matColumnDef="emailid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.emailid}} </td>
                </ng-container>
                <ng-container matColumnDef="useractivationname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activation Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.useractivationname}} </td>
                </ng-container>

                <ng-container matColumnDef="eligibilityCheck">
                    <th mat-header-cell *matHeaderCellDef>Verification process</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="isEligibility && element.userstatus == true && userTypeCode == constants.SUPER_ADMIN_TYPE_CODE || userTypeCode == constants.ADMIN_TYPE_CODE || 
                            userTypeCode == constants.MAKER_TYPE_CODE || userTypeCode == constants.CHECKER_TYPE_CODE">
                            <i *ngIf="element.usertypecode == constants.AGENT_TYPE_CODE && element.useractivationmasterid == 2"
                                class="mdi mdi-file-check h4" title="Pending" style="color: #d5a25a;"
                                (click)="eligibilityEdit(element.userid)"></i>
                            <i *ngIf="element.usertypecode == constants.AGENT_TYPE_CODE && element.useractivationmasterid == 4"
                                class="mdi mdi-file-check h4" title="Rejected" style="color:#f37e7e;"
                                (click)="eligibilityEdit(element.userid, 'true')"></i>
                            <i *ngIf="element.usertypecode == constants.AGENT_TYPE_CODE && element.useractivationmasterid == 4"
                                class="mdi mdi-replay h4" title="Re-validation" style="color:blue;"
                                (click)="reValidation(element.userid)"></i>
                            <i *ngIf="element.usertypecode == constants.AGENT_TYPE_CODE && element.useractivationmasterid == 1 || element.useractivationmasterid == 3"
                                class="mdi mdi-file-check h4" title="Approved" style="color: #84bb5a;"
                                (click)="eligibilityEdit(element.userid, 'authorized')"></i>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element; let i = index;"
                        style="white-space: nowrap; display: flex; text-align: center; justify-content: center;">
                        <div class="p-0 text-center" *ngIf="isStatus">
                            <i class="mdi mdi-check-circle h4 mb-0 mx-2" title="Status"
                                *ngIf="element.userstatus == true" style="color:#52b952;"
                                (click)="openModal(element.userstatus,element.userid)"
                                [hidden]="element.usertypecode == constants.SUPER_ADMIN_TYPE_CODE"></i>
                            <i class="mdi mdi-close-circle h4 mb-0 mx-2" title="Status"
                                *ngIf="element.userstatus == false" style="color:#ff2a2a"
                                [hidden]="element.usertypecode == constants.SUPER_ADMIN_TYPE_CODE"
                                (click)="openModal(element.userstatus, element.userid)">
                            </i>
                        </div>
                        <div class="p-0 text-center" *ngIf="isEdit && element.userstatus == true">
                            <i class="mdi mdi-lead-pencil h4 mb-0 mx-2" title="Edit" style="color:#00b3ff;"
                                (click)="userEdit(element.userid)"></i>
                        </div>
                        <div class="p-0 text-center" *ngIf="isDelete">
                            <i class="mdi mdi-delete-forever h4 mb-0 mx-2" title="Delete" style="color:#ff2a2a;"
                                (click)="openRemoveModel(element.userid)"></i>
                        </div>

                    </td>
                </ng-container>

                <ng-template #statusChangeContent>
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-0">Are you sure you want to <b>{{statusText}}</b> this user..?
                            </p>
                        </div>
                        <div class="modal-footer justify-content-center border-0">
                            <button type="button" class="btn btn-save btn-sm px-4"
                                (click)="userStatusChange()">Yes</button>
                            <button type="button" class="btn btn-reject btn-sm px-4" (click)="closeModel()">No</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #removeUserContent>
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-0">Are you
                                sure you want to <b style="color:#ff2a2a;">Delete User</b> permanently..?
                            </p>
                        </div>
                        <div class="modal-footer justify-content-center border-0">
                            <button type="button" class="btn btn-save btn-sm px-4" (click)="removeUser()">Yes</button>
                            <button type="button" class="btn btn-reject btn-sm px-4" (click)="closeModel()">No</button>
                        </div>
                    </div>
                </ng-template>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        <p style="width: 100%;text-align: center; position: absolute;">
                            {{ dataSource.data.length != 0 && dataSource.filteredData.length == 0 ? 'No result(s)
                            found'
                            : 'No data available' }}
                        </p>
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-row *ngIf="dataSource.data.length == 0">
                    {{ dataSource.data.length != 0 && dataSource.filteredData.length == 0 ? 'No result(s) found' :
                    'No data available' }}
                </mat-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hidenoData':!(dataSource.data.length==0 || dataSource.filteredData.length == 0)}">
                </mat-footer-row>
            </table>
            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>