<div class="page-header">
    <div class="row mx-0 w-100">
        <div class="col-md-4 p-0">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>
                Dashboard
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <h2 style="color: #ef1a68;text-align: center;"><b> KNILA TESTING BUILD</b></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white" style="background: lightsalmon;">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total # </h4>
                <h2 class="mb-5">{{ loanTotalCount }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Approve # </h4>
                <h2 class="mb-5">{{ loanApplicantCount }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Processing # </h4>
                <h2 class="mb-5">{{ loanApplicationProcessCount }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white" style="background: brown;">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Reject # </h4>
                <h2 class="mb-5">{{ loanApplicationRejectCount }}</h2>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
<div class="card">
    <div class="card-body">
        <!-- SEARCH -->
        <div class="col-sm-12 search-hero ml-auto mb-3 mid-y p-0 d-flex">
            <!-- <mat-icon>search</mat-icon> -->
            <input #filter placeholder="Search.." class="form-control form-control-sm rounded-pill col-md-4 border-dark"
                (keyup)="applyFilter($event)">
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="" style="white-space: nowrap;">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i+1+(paginator.pageIndex *
                        paginator.pageSize)}} </td>
                </ng-container>

                <ng-container matColumnDef="loanapplicationnumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.loanapplicationnumber}} </td>
                </ng-container>

                <ng-container matColumnDef="loantype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.loanname}} </td>
                </ng-container>

                <ng-container matColumnDef="statusname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.statusname}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="row mx-0">
                            <div class="col-6 p-0 text-center">
                                <!-- All rolls view -->
                                <i class="mdi mdi-eye h3 mb-0" title="view" style="color:rgb(34, 33, 33);"
                                    (click)="loanView(element.loanapplicationid)"></i>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        <p style="width: 100%;text-align: center; position: absolute;">
                            {{ dataSource.data.length != 0 && dataSource.filteredData.length == 0 ? 'No result(s)
                            found'
                            : 'No data available' }}
                        </p>
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-row *ngIf="dataSource.data.length == 0">
                    {{ dataSource.data.length != 0 && dataSource.filteredData.length == 0 ? 'No result(s) found' :
                    'No data available' }}
                </mat-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hidenoData':!(dataSource.data.length==0 || dataSource.filteredData.length == 0)}">
                </mat-footer-row>
            </table>
            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>